<mat-toolbar color="primary">
    <button
      routerLink="/"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu_book</mat-icon>
    </button>
    <span>EvalEase</span>
    <span class="example-spacer"></span>
    <a
      href="/login"
      mat-icon-button
      class="example-icon favorite-icon "
      aria-label="Example icon-button with heart icon"
    >
     Login
    </a>

    <a
      href="/signup"
      mat-icon-button
      class="example-icon favorite-icon  ml20"
      style="margin-right: 50px;"
      aria-label="Example icon-button with heart icon"
    >
     Register
    </a>
  
    
  </mat-toolbar>
  